.price_range {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  gap: 1rem;
}

.price_range > div:first-child {
  display: flex;
  justify-content: flex-end;
  text-align: end;
}

.price_range > div:last-child {
  display: flex;
  justify-content: flex-start;
  text-align: start;
}
