header {
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.87);
  z-index: 2;
}

.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
}

.navbar_logo {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar_list {
  display: none;
}

.navbar_item {
  min-width: 5rem;
  text-align: center;
  padding-block: 1rem;
}

.navbar_link {
  color: #fff;
  text-decoration: none;
}

.navbar_link:hover {
  color: #3ccfd5;
}

.navbar_link-active {
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #3ccfd5;
  color: #3ccfd5;
}

@media (min-width: 959px) {
  .navbar_list {
    display: inline-flex;
    list-style: none;
    font-size: 1.25rem;
    gap: 1rem;
  }
}
